@import "tailwindcss";

@theme {
  --color-white2: #fefefe;
  --color-yellow2: #eda803;
  --color-yellow2Contrast: #ffbe68;
  --color-green2: #28a051;
  --color-green2Contrast: #46d476;
  --color-orange: #a03e28;
  --color-orangeContrast: #df5d40;
  --color-baseColor: #142028;
  --color-baseColorHalf: rgba(20, 32, 40, 0.5);
  --color-lightGray: #23323c;
  --color-darkGray: #0b1217;
  --color-grey2: #818ea3;
  --color-disableBgColor: #4e4e4e;
  --color-disableTextColor: #9a9a9a;
}

.lk-button {
  background-color: #0b1217 !important;
}

.lk-start-audio-button {
  background-color: #eda803 !important;
  color: black !important;
}

.custom-scrollbar {
  overflow-y: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #23323c;
  border-radius: 8px;
}
